<div class="container">
  <h3>songList</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>NAME</th>
        <th>GENRE</th>
        <th>CREATOR</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of songlists">
        <td>{{ item.name }}</td>
        <td>{{ item.genre }}</td>
        <td>{{ item.creator }}</td>
        <td>
          <button class="btn btn-danger" (click)="onDelete(item)">
            DELETE
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
