<div class="container mb-5">
  <nav class="nav nav-bar">
    <a routerLink="/task-1" class="btn btn-warning">FORM</a>
    <a routerLink="/ui-design" class="btn btn-warning">UIDESIGN</a>
    <a routerLink="/timer" class="btn btn-warning">TIMER</a>
    <a routerLink="/grid-layout" class="btn btn-warning">GRIDLAYOUT</a>
    <a routerLink="/book-song" class="btn btn-warning">BOOKSONGSLIST</a>
    <a routerLink="/home-page" class="btn btn-danger">BACK</a>
  </nav>
</div>
<router-outlet></router-outlet>
